<div class="story">
<form class="form" ng-submit="setStory(form)">
  Place: <input type="text" placeholder="eg: Paris, Neverland" ng-model="form.place1"> <br>
Animal: <input type="text" placeholder="eg: monkey puppy" ng-model="form.animal"> <br>
  Name: <input type="text" placeholder="eg: Leonard, David" ng-model="form.name1"><br>
  Food: <input type="text" placeholder="eg: chipotle, doughnuts" ng-model="form.food"><br>
  Place: <input type="text" placeholder="eg: in the park, under the tree" ng-model="form.place2"> <br>
  Thing: <input type="text" placeholder="eg: money, wrenches" ng-model="form.thing"> <br>
  Name: <input type="text" placeholder="eg: Lisa, Tony" ng-model="form.name2"> <br>
 <button type="submit"> Click me to see the story! </button>
</form>
</div>
